{% extends 'category.html' %}
{% load static %}

{% block title %} Electricity {% endblock %}

{% block body %}
<div class="container">
    <div class="left"style="background-image: url('{% static "images/eb.jpg" %}');">
        <img src="{% static 'images/tneb.png' %}" width="250px" height="200px">
    </div>
    <div class="right">
        <h4><center>Enter the EB bill details</center></h4>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>            
</div> 
{% endblock %}