{% extends 'category.html' %}
{% load static %}

{% block title %} Recharge/DTH {% endblock %}

{% block body %}
<div class="container">
    <div class="left"style="background-image: url('{% static "images/mobile_brand.png" %}');">
    </div>    
    <div class="right">
        <h4><center>Enter the Recharge details</center></h4>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form> 
    </div>          
</div> 
{% endblock %}
